CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

*.swo
*.swn
*.swp
Debug/*
tags
*.o
*.so
*.a
*.cmake
*.tcl
build/*
/.vs
/.vscode
